:root {
    --ochre: #945A2A;
    --cream: #D8CFC5;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cream) ;
}

#caption {
    padding-bottom: 150px;
}

li {
    color: var(--ochre);
}

footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    padding-top: 20px;
}

footer li {
    display: inline-block;
}

a:link {
    text-decoration: none;
    color: var(--cream);
}