* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F7F4F2;
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
}

.container {
    padding: 20px;
    background-color: #b7a2a0;
    color: #7C6362;
    font-size: 30px;
    display: flex;
}

header {
    text-transform: uppercase;
    display: inline-block
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: #b7a2a0;
    
}

nav a {
    font-size: 20px;
    padding: 14px 20px;
}

p {
    color: #7C6362;
    padding-right: 25px;
}

.subtitle {
    padding: 20px;
    background-color: #F7F4F2;
    font-family: 'Poppins', sans-serif;
    color: #7C6362;
    height: 75px;
}

.subtitle header {
    float: right;
    justify-content: flex-start;
}

hr {
    color: #7C6362;
    height: 3px;
    background-color: #7C6362;
    width: 70%;
    float: right;    
}

aside {
    float:left;
    height: 1100px;
  }
  
  aside img {
      max-height: 1100px;
      max-width: 400px;
      padding: 20px;
      margin-left: 20px;
  }

  main {
      display: flex;
      flex-wrap: wrap;
  }
  
  #aboutMe {
      margin-top: .5%;
      padding-top: 40px;
      padding-bottom: 40px;
  }
    

.descriptions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    width: 1000px;
}

.deployed {
    margin-top: 40px;
}

.refactor {
    position: relative;
}
.refactor img {
    height: 200px;
    width: 800px;
    object-fit: cover;
    border-style: solid;
    border-width: 4px;
    border-color: #C2C4C4;
    float: right; 
    position: relative;  
    z-index: auto;

}

.refactor a {
    color: #7C6362;
    z-index: 1;
    position: absolute;
    margin-right: -20px;
    margin-bottom: -80px;
    background-color: #FFF;
    font-size: 20px;
}

.bio {
    position: relative;
}

.bio img {
    height: 200px;
    width: 400px;
    object-fit: cover;
    float: right;
    border: 4px solid;
    border-color: #C2C4C4;
    position: relative;  
    z-index: auto;
}

.bio a {
    color: #7C6362;
    z-index: 1;
    position: absolute;
    margin-right: -20px;
    margin-bottom: -150px;
    background-color: #FFF;
    font-size: 20px;
}

.fan {
    position: relative;
}

.fan img {
    height: 200px;
    width: 400px;
    object-fit: scale-down;
    float: right;
    border-style: solid;
    border-width: 4px;
    border-color: #C2C4C4;
    position: relative;
}

.fan a {
    color: #7C6362;
    z-index: 1;
    position: absolute;
    margin-right: -20px;
    margin-bottom: -150px;
    background-color: #FFF;
    font-size: 20px;
}


main img:hover {
    box-shadow: 5px 10px 18px #7C6362;
}

.portfolio {
    margin-top: 60px;
    height: 80px;
    margin-bottom: 10px;
    width: 980px;
}

.outline {
    height: 130px;
    margin-top: 60px;
    margin-bottom: 10px;
    width: 980px;
}

main hr {
    color: #7C6362;
    height: 3px;
    background-color: #7C6362;
    align-self: center;
    margin-top: 15px;
    margin-right: 20%;
    margin-left: 20%;   
}

a:link {
    text-decoration: none;
    color: #7C6362;
}

footer {
    text-transform: uppercase;
    display: inline-block;
    padding: 20px;
    background-color: #b7a2a0;
    color: #7C6362;
    font-size: 20 px;
    width: 100%;
    bottom: 0;
    margin-top: 20px;
}

.biography {
    margin-top: 10px;
    width: 980px;
}

h2 {
    float: left;
    color: #7C6362; 
    margin-right: 60px;
    margin-top: 20px;
    width: 120px
}

#stack {
    text-align:left;
    z-index: auto;
}

footer ul {
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    text-align: center;
}

footer li {
    display: inline-block;
    padding: 14px 20px;
}

span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}






